@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body
 {
  background:"black";
  margin:0;
  padding:0px 0px 0px 0px;
}

header
{ 
background:black;
color:white;
padding:8px 0px 8px 40px;
height:40px;
}

header h1
{
display: inline;
font-family: 'oswald', sans-serif;
font-weight:400;
font-size:32px;
float:left;
margin-top:0px;
margin-bottom:0px;
margin-right:12px;
background-color:black;
}

nav ul
{
display:inline;
padding:0px;
float:left;
}


nav ul li
{
display:inline-block;
list-style-type:none;
color:white;
float:left;
margin-left:22px;
}

nav ul li a
{
color:white;
text-decoration:none;
}

#nav
{
font-family: 'Montserrat', sans-serif;
margin-bottom:0px;
}

.homered
{
background-color:red;
padding: 30px 10px 14px 10px;

}

.divider
{
background-color:red;
height:8px;
margin-bottom:0px;
padding bottom:0px;
}

.homeblack:hover
{
background-color:blue;
padding: 30px 10px 12px 10px;}

}

.slider
{
background:black;
padding-top:0px;
padding-bottom:0px;
margin-top:0px;

}

.last
{
background-color:black;
color:white;
font-family: 'Montserrat', sans-serif;
font-size:28px;
}


.mybutton
{
padding:5px 30px 5px 30px;
background:maroon;
color:white;
text-decoration:none;
transition: all 1s;
}

.mybutton:hover
{
background:blue;
border-radius:35px;
transition: all 1s;
}

.last h3
{
background:black;
margin:0px;
padding:0px;
font-family: 'Gloria Hallelujah', cursive;
font-size:28px;
}

.last h3 a
{
color:yellow;
text-decoration:none;
}
.last h4 
{
background:black;
font-family: 'Gloria Hallelujah', cursive;
font-size:32px;
font-weight:600;
padding-top:0px;
padding-bottom:2px;
margin:0px;
color:orange;
}

.welcome
{
background-black;
margin-top:2px;
margin-bottom:1px;
padding-bottom:2px;
padding-top:2px;
color:teal;
}

.last p
{
background:black;
padding-top:2px ;
padding-bottom:4px;
margin-bottom:4px;
margin-top:4px;
color:coral;
font-size:30px;
font-type:italic;
font-family:'Montserrat', sans-serif;
}

